<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dataengine.operator.infrastructure.persistence.mapper.OperatorMapper">
    <select id="findAllOperators" resultType="com.dataengine.operator.domain.modal.Operator">
      SELECT id, name, description, version, inputs, outputs, runtime, settings, is_star, created_at, updated_at FROM
        t_operator
    </select>

    <select id="findOperatorsByCriteria" parameterType="map" resultType="com.dataengine.operator.domain.modal.Operator">
        SELECT operator_id as id, operator_name as name, description, version, inputs, outputs, runtime, settings,
            is_star, created_at, updated_at, GROUP_CONCAT(category_id ORDER BY created_at DESC SEPARATOR ',') AS categories
        FROM v_operator
        <where>
            <if test="operatorName != null and operatorName != ''">
                AND operator_name LIKE CONCAT('%', #{operatorName}, '%')
            </if>
            <if test="categories != null and !categories.isEmpty()">
                AND category_id IN
                <foreach collection="categories" item="category" open="(" separator="," close=")">
                    #{category}
                </foreach>
            </if>
            <if test="isStar != null">
                AND is_star = #{isStar}
            </if>
        </where>
        GROUP BY operator_id
        LIMIT ${size} OFFSET ${offset};
    </select>
</mapper>
